.section-intro {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - 120px);
  background-image: linear-gradient(rgb(0 0 0 / 95%), rgb(0 0 0 / 45%));
}

.section-intro__container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
}

@media (min-width: 769px) {
  .section-intro__container {
    max-width: 1000px;
  }
}

.section-intro__foto {
  display: none;
}

@media (min-width: 769px) {
  .section-intro__foto {
    display: block;
    height: 200px;
    grid-row: 1 / span 2;
    grid-column: 2;
    margin-left: 25px;
  }
}

.section-intro__title {
  grid-row: 1 / span 2;
  grid-column: 1;
  font-family: "Montserrat Black", sans-serif;
  font-size: 65px;
  color: #fafafa;
  line-height: 55px;
  margin: 0;
}

@media (min-width: 769px) {
  .section-intro__title {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

.section-intro__hero-placeholder {
  grid-row: 2;
  grid-column: 2;
  width: auto;
  height: 350px;
}

.section-intro__goods-container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Black", sans-serif;
  font-size: 30px;
  grid-row: 2;
  grid-column: 1;
  align-self: flex-start;
  min-width: 130px;
}

.section-intro__introduction {
  font-family: "Montserrat Regular", sans-serif;
  color: #fafafa;
  font-size: 16px;
  margin: 0;
  text-align: right;
}

@media (min-width: 769px) {
  .section-intro__introduction {
    grid-column: 1;
  }
}

.section-intro__imagotipo {
  grid-row: 1 / span 2;
  grid-column: 3;
  width: auto;
  height: 500px;
}
