:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #141414;
  --white: #fafafa;
  --darkblue: #01202a;
  --lightblue: #33bfd4;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/MONTSERRAT_BOLD.TTF);
}
@font-face {
  font-family: "Montserrat Bold Italic";
  src: url(../fonts/MONTSERRAT_BOLDITALIC.TTF);
}
@font-face {
  font-family: "Montserrat Italic";
  src: url(../fonts/MONTSERRAT_ITALIC.TTF);
}
@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/MONTSERRAT_REGULAR.TTF);
}
@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/MONTSERRAT_BLACK.TTF);
}
@font-face {
  font-family: "Montserrat Black Italic";
  src: url(../fonts/MONTSERRAT_BLACKITALIC.TTF);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
